.hero-banner {
  width: 100%; }
  .hero-banner img {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: inherit; }

.body-container {
  width: 100%;
  position: relative;
  background: #202020;
  padding: 25px 0px 25px 0px; }

.inner-container {
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid grey;
  background: #a1a1a1; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
