.hero-banner {
  background-image: url('/images/heroes/banner/Blades_of_Voth_Domosh.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;

}
